.basket-card {
	position: relative;
	display: flex;
	align-items: flex-start;
	padding-right: 20px;

	&:not(:last-child) {
		margin-bottom: 40px;
	}

	&__delete {
		position: absolute;
		top: 0;
		right: 0;
	}

	&__photo {
		flex: 0 0 100px;
		width: 100px;
		height: 100px;
		margin-right: 10px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&__content {
		max-width: 180px;
		width: 100%;
	}

	&__text {
		line-height: 1.1;
		margin-bottom: 15px;
		min-height: 31px;
	}

	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 145px;
	}

	&__handle {
		display: flex;
		align-items: center;
	}

	&__count {
		min-width: 13px;
		margin: 0 15px;
		text-align: center;
	}
}
